.App {
  text-align: center;
  background-image: url(../public/Site-background-dark.webp);
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

.packTypeSelector {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
}

.packTypeSelector img {
 width: 100%;
}

