.App {
  text-align: center;
  background-image: url(../public/Site-background-dark.webp);
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

.packTypeSelector {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
}

.packTypeSelector img {
 width: 100%;
}

.mode-selector{
  /* display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10em; */
}

.mode-selector label {
  display: inline-block;
  padding: 0 2em;
  cursor: pointer;
  color: white;
}

.mode-selector label:hover {
  opacity: 1;
}

.mode-selector input {
  opacity: 0;
  width: 0;
  height: 0;
}

.mode-image {
  opacity: 0.25; /* Default opacity */
  transition: opacity 0.3s ease;
}

.mode-image.selected {
  opacity: 1;
}