.booster-pack {
    text-align: center;
    margin-top: 20px;
    margin: auto;
    width: 1020px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .booster-pack button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 150px; /* Adjust size as needed */
    height: 210px; /* Adjust size as needed */
    margin: 10px;
    perspective: 1000px; /* Needed for 3D flip effect */
  }
  
  .flip {
    animation: flip 0.6s forwards;
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0);
    }
  }
  