@font-face {
  font-family: distro;
  src: url(/font/DISTRO__.ttf);
}

body {
  margin: 0;
  font-family: distro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}